.profile__flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .profile__flex {
        column-gap: 10px;
        justify-content: center;
    }
}