.footer {
    max-width: 880px;
    margin: auto;
}

@media screen and (max-width: 1023px) {
    .footer {
        width: 75.7%;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width: 88%;
    }
}