.profile__profession {
    margin: 0;
    font-size: 18px;
    line-height: 1.21;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 320px;
}

@media screen and (max-width: 1023px) {
    .profile__profession {
        max-width: 250px;
    }
}

@media screen and (max-width: 767px) {
    .profile__profession {
        text-align: center;
        padding-bottom: 24px;
        font-size: 14px;
        margin: 0 auto;
    }
}

