.element {
    max-width: 282px;
    width: 100%;
    min-height: 361px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .element {
        max-width: 360px;
    }
}
