.profile__edit-button {
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #000;
    background-image: url(../../../image/edit.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    align-self: center;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}

